.mix-input {
  width: 100%;
  height: 3em;
  font-size: inherit;
  position: relative;

  &.mix-input-icon-left {
    .mix-input-box {
      padding-left: 2em;
    }
  }

  &.mix-input-icon-right {
    .mix-input-box {
      padding-right: 2em;
    }
  }

  .mix-input-box {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 0 0.5em;
    border-radius: 0.25em;
    outline: none;
    border: 2px solid transparent;
    background: color('grey', 'lighten-4');
    color: currentColor;

    &:focus {
      border-color: currentColor;
    }

    &::placeholder {
      font-size: inherit;
      color: currentColor;
    }
  }

  .mix-input-icon {
    position: absolute;
    width: 2em;
    height: 100%;
    font-size: inherit;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.place-left {
      left: 0;
      top: 0;
    }

    &.place-right {
      right: 0;
      top: 0;
    }
  }
}