<div class="wrapper">
    <input type="range" min="0" max="100" [(ngModel)]="value" (input)="sendValue()">
    <span>{{value}}</span>
    <select [(ngModel)]="unit">
        <option selected value="px">px</option>
        <option value="%">%</option>
    </select>
</div>