<input type="text" id="text" (click)="show($event)">
<button (click)="show($event)" #target>Test</button>
<input type="number" (input)="changeBorderRadius($event, target)">
<w-value (valueEmitter)="changeSize($event, target)" ></w-value>
<ul>
    <li *ngFor="let prop of properties; let i = index">{{prop}}</li>
</ul>


<w-input></w-input>